body {
  padding-top: 50px;
}

section {
	padding: 40px 0;
}
.branding-text {
	color: #1caa98 !important;
}
.jumbotron {
	background: url('../img/site_showcase_bg.jpg');
	color: #FFFFFF;
	height: 500px;
	overflow: none;
}
.jumbotron .app-btn {
	width: 40%;
	margin-right: 30px;
}
.jumbotron h1 {
	margin-top: 60px;
}
.jumbotron p {
	margin-bottom: 40px;
}
.jumbotron .showcase-img {
	width: 75%;
}
#middle img, #about img, #contact img{
	width: 100%;
	padding: 3px;
	border: solid 1px #ccc;
}
section#feature .h1 {
	font-weight: 300;
}
section#feature {
	background: #1caa98;
	color: #FFFFFF;
	padding: 40px;
	overflow: none;
}
section#feature ul li {
	font-weight: 300;
	font-size: 20px;
	line-height: 2.0em;
	list-style: none;
}

section#title-bar {
	background: #1caa98;
	height: 80px;
	color: #FFFFFF;
	padding: 0;
}

footer {
	background:#333;
	color:#FFFFFF;
	padding: 30px 0 20px 0;
}
footer li {
	float: left;
	padding: 0 10px;
	list-style: none;
}
footer a {
	color: #FFFFFF;
}
footer p {
	float: right;
}





